@font-face {
  font-family: 'Inter Regular';
  src: url("../fonts/Inter-Regular.eot");
  src: local("Inter-Regular"), url("../fonts/Inter-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Medium';
  src: url("../fonts/Inter-Medium.eot");
  src: local("Inter-Medium"), url("../fonts/Inter-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter SemiBold';
  src: url("../fonts/Inter-SemiBold.eot");
  src: local("Inter-SemiBold"), url("../fonts/Inter-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-SemiBold.woff") format("woff"), url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter Bold';
  src: url("../fonts/Inter-Bold.eot");
  src: local("Inter-Bold"), url("../fonts/Inter-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter-Bold.woff") format("woff"), url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

body, html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  font-size: 15px;
  min-width: 320px;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

ul, li {
  display: block;
  padding: 0px;
  margin: 0px;
}

textarea {
  resize: none;
}

p {
  font-size: 16px;
}

img {
  border-style: none;
}

button {
  border: 0;
  background: transparent;
  padding: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: none;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoratio {
  display: none;
}

[hidden] {
  display: none;
}

p, nav {
  margin: 0;
  padding: 0;
}

a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active {
  text-decoration: none;
  outline: none;
  /*  -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;*/
}

input {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

a, span, p, input, button, select, option, textarea, label, blockquote {
  color: #403F3D;
  font-family: 'Inter Medium';
  font-size: 16px;
  line-height: 150%;
}

.hidden {
  overflow: hidden;
}

body {
  background: #E1D4C9;
}

body.darkTheme {
  background: #292826;
}

body.darkTheme a, body.darkTheme span, body.darkTheme p, body.darkTheme input, body.darkTheme button, body.darkTheme select, body.darkTheme option, body.darkTheme textarea, body.darkTheme label, body.darkTheme blockquote {
  color: #E1D4C9;
}

body.darkTheme .header-mobile {
  background: #292826;
}

body.darkTheme .header-burger {
  border: 1px solid #C1B6AD;
}

body.darkTheme .header-burger span {
  background: #C1B6AD;
}

body.darkTheme .header__logo .darkLogo {
  opacity: 1;
}

body.darkTheme .header-item::before {
  background: #E1D4C9;
}

body.darkTheme .header__menu svg path {
  stroke: #E1D4C9;
}

body.darkTheme .header__menu::before {
  background: #E1D4C9;
}

body.darkTheme .header-switch__button svg path {
  fill: #E1D4C9;
}

body.darkTheme .intro__button {
  background: #292826;
}

body.darkTheme .intro__button svg path {
  stroke: #E1D4C9;
}

body.darkTheme .favorite__title {
  color: #E1D4C9;
}

body.darkTheme .favorite-panel button {
  border: 1px solid #E1D4C9;
}

body.darkTheme .favorite-panel button svg path {
  stroke: #E1D4C9;
}

body.darkTheme .favorite-item__name {
  color: #E1D4C9;
}

body.darkTheme .favorite-pagination span {
  background: #665F55;
}

body.darkTheme .favorite-pagination span.active {
  background: #C1B6AD;
}

body.darkTheme .resource__title {
  color: #E1D4C9;
}

body.darkTheme .download-image img.darkDownload {
  opacity: 1;
}

body.darkTheme .download__title {
  color: #E1D4C9;
}

body.darkTheme .download-button {
  border: 1px solid #C1B6AD;
}

body.darkTheme .download-button svg path {
  fill: #E1D4C9;
}

body.darkTheme .footer-wrapper {
  background: #403F3D;
}

body.darkTheme .footer-social-item {
  border: 1px solid #665F55;
}

body.darkTheme .menu__title {
  color: #E1D4C9;
}

body.darkTheme .tabs__button {
  border: 1px solid #665F55;
}

body.darkTheme .tabs__button-icon {
  background: #665F55;
}

body.darkTheme .tabs__button.active {
  background: #403F3D;
  border: 1px solid #403F3D;
}

body.darkTheme .tabs__button.active .tabs__button-icon {
  background: #292826;
}

body.darkTheme .tabs__button:hover {
  background: #403F3D;
}

body.darkTheme .tabs__button:hover .tabs__button-icon {
  background: #292826;
}

body.darkTheme .card {
  border: 1px solid #665F55;
}

body.darkTheme .card__name {
  color: #E1D4C9;
}

body.darkTheme .popup {
  background: rgba(41, 40, 38, 0.8);
}

body.darkTheme .popup-wrapper {
  background: #403F3D;
}

body.darkTheme .popup-coffee-settings-item {
  border: 1px solid #665F55;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

body.darkTheme .popup-coffee-settings-item .icon {
  background: #665F55;
}

body.darkTheme .popup-coffee-settings-item input:checked ~ .icon {
  background: #403F3D;
}

body.darkTheme .popup-coffee-settings-item input:checked ~ .bg {
  background: #292826;
}

body.darkTheme .popup-coffee-settings-item input:checked ~ .name {
  color: #E1D4C9;
}

body.darkTheme .popup-coffee-settings-item:hover {
  border: 1px solid #292826;
}

body.darkTheme .popup-coffee-settings-item:hover .bg {
  background: #292826;
}

body.darkTheme .popup-coffee-settings-item:hover .icon {
  background: #403F3D;
}

body.darkTheme .card-more svg rect {
  stroke: #665F55;
}

body.darkTheme .card-more svg path {
  stroke: #665F55;
}

html {
  scroll-behavior: smooth;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.f-jcsb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.f-jcsa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.f-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.f-jcsb-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.f-jcsa-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.f-center-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.f-dc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.f-dc-jcsb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.f-dc-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.f-dc-center-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  pointer-events: none;
}

.img-contain {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  pointer-events: none;
}

.container {
  max-width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
}

.header__logo {
  width: 100px;
  height: 60px;
  position: relative;
}

.header__logo img {
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.header__logo img.darkLogo {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 1;
}

.header-mobile {
  display: none;
}

.header-mobile .header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
}

.header-mobile .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 95px;
}

.header-mobile .header__menu p {
  font-size: 32px;
  font-family: 'Inter SemiBold';
}

.header-mobile .header__menu svg {
  width: 40px;
  height: 40px;
}

.header-mobile .header-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-mobile .header-item:not(:last-child) {
  margin-right: 0;
  margin-bottom: 50px;
}

.header-mobile .header-item a {
  font-size: 32px;
}

.header-block {
  margin-left: auto;
}

.header-wrapper {
  padding: 20px 0;
}

.header-item {
  position: relative;
}

.header-item::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 2px;
  background: #403F3D;
  opacity: 0;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-item__link {
  font-family: 'Inter SemiBold';
}

.header-item:hover::before {
  bottom: -4px;
  opacity: 1;
}

.header__menu {
  position: relative;
}

.header__menu::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 2px;
  background: #403F3D;
  opacity: 0;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.header__menu.active::before {
  bottom: -4px;
  opacity: 1;
}

.header__menu p {
  margin-right: 8px;
}

.header__menu svg path {
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.header__menu:hover::before {
  bottom: -4px;
  opacity: 1;
}

.header-burger {
  position: relative;
  width: 44px;
  height: 44px;
  border: 1px solid #665F55;
  display: none;
  border-radius: 50%;
}

.header-burger span {
  width: 16px;
  height: 1.5px;
  background: #403F3D;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header-burger span:nth-child(1) {
  top: 18px;
}

.header-burger span:nth-child(2) {
  bottom: 18px;
}

.header-switch {
  border: 1px solid #C1B6AD;
  padding: 3px;
  border-radius: 100px;
  margin-left: auto;
  position: relative;
  margin-right: 24px;
  z-index: 0;
  cursor: pointer;
}

.header-switch::before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #B0907A;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  z-index: -1;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.header-switch.normalActive::before {
  left: 3px;
}

.header-switch.darkActive::before {
  left: calc(100% - 39px);
}

.header-switch__button {
  width: 36px;
  padding: 7px;
  height: 36px;
  border-radius: 50%;
}

.header-switch__button svg {
  width: 100%;
  height: 100%;
}

.header-switch__button svg path {
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.header-switch__button.active svg path {
  fill: #E1D4C9;
}

.header-switch__button:not(:last-child) {
  margin-right: 8px;
}

.intro__title {
  color: #E1D4C9;
  font-family: 'Inter SemiBold';
  font-size: 72px;
  line-height: 105%;
  margin-bottom: 40px;
}

.intro__title i {
  color: #B0907A;
}

.intro__descr {
  font-family: 'Inter Regular';
  color: #E1D4C9;
  margin-bottom: 40px;
  line-height: 150%;
}

.intro__button {
  border-radius: 100px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #E1D4C9;
  padding: 20px 78px;
  font-family: 'Inter SemiBold';
  position: relative;
}

.intro__button svg {
  position: absolute;
  right: 30px;
  opacity: 0;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.intro__button:hover svg {
  opacity: 1;
  right: 50px;
}

.intro-wrapper {
  position: relative;
  border-radius: 40px;
  padding: 100px;
  overflow: hidden;
  margin-bottom: 100px;
}

.intro-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 644px;
}

.intro-info {
  position: relative;
  z-index: 1;
  width: 530px;
}

.favorite-wrapper {
  padding-bottom: 100px;
}

.favorite__title {
  text-align: center;
  margin-bottom: 40px;
  color: #403F3D;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  font-family: 'Inter SemiBold';
  line-height: 125%;
  font-size: 60px;
}

.favorite__title i {
  color: #B0907A;
}

.favorite-item {
  width: 480px;
}

.favorite-item__image {
  height: 480px;
  width: 100%;
  margin-bottom: 20px;
}

.favorite-item__name {
  color: #403F3D;
  font-size: 24px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  font-family: 'Inter SemiBold';
  line-height: 125%;
  text-align: center;
  margin-bottom: 16px;
}

.favorite-item__descr {
  text-align: center;
  font-size: 16px;
  font-family: 'Inter Regular';
  line-height: 150%;
  margin-bottom: 16px;
}

.favorite-item__price {
  text-align: center;
  font-size: 24px;
  font-family: 'Inter SemiBold';
  line-height: 125%;
}

.favorite-slider {
  position: relative;
}

.favorite-pagination {
  margin-top: 40px;
}

.favorite-pagination span {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  display: inline-block;
  background: #C1B6AD;
}

.favorite-pagination span.active {
  background: #665F55;
}

.favorite-pagination span:not(:last-child) {
  margin-right: 12px;
}

.favorite-panel button {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #665F55;
  top: 292px;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.favorite-panel button svg path {
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.favorite-panel button:hover {
  background: #665F55;
}

.favorite-panel button:hover svg path {
  stroke: #E1D4C9;
}

.favorite-panel__prev {
  left: 0;
}

.favorite-panel__next {
  right: 0;
}

.resource-wrapper {
  padding-bottom: 100px;
}

.resource__title {
  color: #403F3D;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  font-size: 60px;
  line-height: 125%;
  font-family: 'Inter SemiBold';
  line-height: 125%;
  margin-bottom: 40px;
}

.resource__title i {
  color: #B0907A;
}

.resource-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 430px 120px 430px;
      grid-template-rows: 430px 120px 430px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 40px;
      grid-template-areas: "one two" "one four" "three four";
}

.resource-item {
  border-radius: 20px;
  overflow: hidden;
}

.resource-item img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.resource-item:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: one;
}

.resource-item:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: two;
}

.resource-item:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: three;
}

.resource-item:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: four;
}

.resource-item:hover img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.download-wrapper {
  padding-bottom: 100px;
}

.download__title {
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  color: #403F3D;
  font-size: 60px;
  font-family: 'Inter SemiBold';
  line-height: 125%;
  margin-bottom: 40px;
}

.download__title i {
  color: #B0907A;
}

.download__descr {
  margin-bottom: 40px;
  font-family: 'Inter Regular';
}

.download-button {
  width: 200px;
  border-radius: 100px;
  border: 1px solid #665F55;
  padding: 12px 20px;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.download-button:not(:last-child) {
  margin-right: 20px;
}

.download-button svg {
  margin-right: 8px;
}

.download-button svg path {
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.download-button-text__over {
  font-size: 10px;
  margin-bottom: 2px;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.download-button-text__main {
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  font-family: 'Inter SemiBold';
}

.download-button:hover {
  background: #665F55;
}

.download-button:hover svg path {
  fill: #E1D4C9;
}

.download-button:hover .download-button-text__over {
  color: #e1d4c9;
}

.download-button:hover .download-button-text__main {
  color: #e1d4c9;
}

.download-info {
  width: 630px;
}

.download-image {
  width: 630px;
  position: relative;
  height: 630px;
}

.download-image img {
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.download-image img.darkDownload {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.menu__title {
  color: #403F3D;
  font-size: 60px;
  font-family: 'Inter SemiBold';
  line-height: 125%;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  width: 800px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.menu__title i {
  color: #B0907A;
}

.tabs {
  padding-bottom: 100px;
}

.tabs-btns {
  margin-bottom: 40px;
}

.tabs__button {
  cursor: pointer;
  padding: 8px 16px 8px 8px;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.tabs__button:not(:last-child) {
  margin-right: 16px;
}

.tabs__button-icon {
  height: 30px;
  width: 30px;
  background: #C1B6AD;
  padding: 3px 7px;
  margin-right: 8px;
  border-radius: 50%;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.tabs__button p {
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.tabs__button.active {
  background: #665F55;
}

.tabs__button.active .tabs__button-icon {
  background: #E1D4C9;
}

.tabs__button.active p {
  color: #E1D4C9;
}

.tabs__button:hover {
  background: #665F55;
}

.tabs__button:hover .tabs__button-icon {
  background: #E1D4C9;
}

.tabs__button:hover p {
  color: #E1D4C9;
}

.card {
  width: 310px;
  overflow: hidden;
  border-radius: 40px;
  border: 1px solid #C1B6AD;
  cursor: pointer;
}

.card:not(:nth-child(4n + 4)) {
  margin-right: 40px;
}

.card:not(:nth-child(-n + 4)) {
  margin-top: 40px;
}

.card-image {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 40px;
  overflow: hidden;
}

.card-image img {
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card-info {
  padding: 16px 20px;
  height: calc(100% - 310px);
}

.card__name {
  font-size: 24px;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  font-family: 'Inter SemiBold';
  margin-bottom: 12px;
}

.card__descr {
  margin-bottom: 12px;
  font-family: 'Inter Regular';
}

.card__price {
  font-size: 24px;
  font-family: 'Inter Bold';
  margin-top: auto;
}

.card-more {
  margin: 40px auto 0 auto;
}

.card:hover .card-image img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.footer-wrapper {
  border-radius: 40px;
  background: #665F55;
  padding: 100px;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  margin-bottom: 100px;
}

.footer__title {
  color: #E1D4C9;
  font-size: 60px;
  font-family: 'Inter SemiBold';
  line-height: 125%;
  margin-bottom: 40px;
}

.footer__title i {
  color: #B0907A;
}

.footer-left {
  width: 530px;
}

.footer-social-item {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #C1B6AD;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.footer-social-item:not(:last-child) {
  margin-right: 12px;
}

.footer-social-item__link {
  width: 100%;
  height: 100%;
}

.footer-social-item svg path {
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.footer-social-item:hover {
  background: #E1D4C9;
}

.footer-social-item:hover svg path {
  stroke: #403F3D;
}

.footer-contact {
  width: 530px;
  -webkit-transform: translateY(32px);
          transform: translateY(32px);
}

.footer-contact__title {
  font-size: 24px;
  color: #E1D4C9;
  margin-bottom: 40px;
}

.footer-item {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer-item:not(:last-child) {
  margin-bottom: 16px;
}

.footer-item svg {
  margin-right: 8px;
}

.footer-item__text {
  font-family: 'Inter SemiBold';
  color: #E1D4C9;
}

.footer-item::before {
  content: '';
  position: absolute;
  left: 0;
  height: 2px;
  background: #E1D4C9;
  bottom: -8px;
  width: 100%;
  opacity: 0;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.footer-item:hover:not(:last-child)::before {
  opacity: 1;
  bottom: -4px;
}

.popup {
  background: rgba(0, 0, 0, 0.5);
  overflow: auto;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1010;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.popup.open {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.popup-wrapper {
  position: relative;
  width: 800px;
  background: #E1D4C9;
  border-radius: 40px;
  padding: 16px;
  margin: auto;
}

.popup-coffee-image {
  width: 310px;
  height: 310px;
  border-radius: 40px;
  overflow: hidden;
}

.popup-coffee-info {
  width: 438px;
}

.popup-coffee__title {
  font-family: 'Inter SemiBold';
  font-size: 24px;
  margin-bottom: 12px;
}

.popup-coffee__descr {
  font-family: 'Inter Regular';
  margin-bottom: 20px;
}

.popup-coffee-block {
  margin-bottom: 20px;
}

.popup-coffee-block__title {
  font-family: 'Inter Regular';
  margin-bottom: 8px;
}

.popup-coffee-settings-item {
  padding: 8px 16px 8px 8px;
  border: 1px solid #C1B6AD;
  border-radius: 100px;
  margin-right: 8px;
  -webkit-transition: all ease-in .2s;
  transition: all ease-in .2s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.popup-coffee-settings-item:not(:nth-child(-n + 3)) {
  margin-top: 8px;
}

.popup-coffee-settings-item input {
  display: none;
}

.popup-coffee-settings-item input:checked ~ .bg {
  opacity: 1;
}

.popup-coffee-settings-item input:checked ~ .icon {
  background: #E1D4C9;
}

.popup-coffee-settings-item input:checked ~ .name {
  color: #E1D4C9;
}

.popup-coffee-settings-item .bg {
  background: #665F55;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all ease-in .2s;
  transition: all ease-in .2s;
  z-index: 1;
  opacity: 0;
}

.popup-coffee-settings-item .icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #C1B6AD;
  margin-right: 8px;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: all ease-in .2s;
  transition: all ease-in .2s;
  z-index: 2;
}

.popup-coffee-settings-item .name {
  font-family: 'Inter SemiBold';
  position: relative;
  -webkit-transition: all ease-in .2s;
  transition: all ease-in .2s;
  z-index: 2;
}

.popup-coffee-settings-item:hover .bg {
  opacity: 1;
}

.popup-coffee-settings-item:hover .icon {
  background: #E1D4C9;
}

.popup-coffee-settings-item:hover .name {
  color: #E1D4C9;
}

.popup-coffee-total {
  padding-bottom: 20px;
  border-bottom: 1px solid #C1B6AD;
}

.popup-coffee-total__name {
  font-size: 24px;
  font-family: 'Inter SemiBold';
}

.popup-coffee-total__price {
  font-size: 24px;
  font-family: 'Inter SemiBold';
}

.popup-coffee-warning {
  padding: 12px 0;
}

.popup-coffee-warning__text {
  font-size: 10px;
  font-family: 'Inter SemiBold';
  width: calc(100% - 24px);
}

.popup-coffee__close {
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  font-family: 'Inter SemiBold';
  border-radius: 100px;
  border: 1px solid #665F55;
  -webkit-transition: all ease-in .2s;
  transition: all ease-in .2s;
  width: 100%;
}

.popup-coffee__close:hover {
  color: #E1D4C9;
  background: #665F55;
}

.none {
  display: none !important;
}
/*# sourceMappingURL=main.css.map */