@media screen and (max-width: 1440px){
    .card {
        width: 23.5%;
        &:not(:nth-child(4n + 4)) {
            margin-right: 2%;
        }
    }
}
@media screen and (max-width: 1360px){
    .footer {
        &-contact {

        }
        &-wrapper {
            padding: 100px 60px;
        }
    }
}
@media screen and (max-width: 1240px){
    .footer {
        &-left {
            width: 100%;
            margin-bottom: 100px;
        }
        &-contact {
            transform: unset;
            &__title {
                margin-bottom: 32px;
            }
        }
        &-wrapper {
            flex-direction: column;
            margin-bottom: 40px;
        }
        &-item {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
}


@media screen and (max-width: 992px){
    .header {
        &-item:not(:last-child) {
            margin-right: 20px;
        }
    }
    .intro {
        &-wrapper {
            padding: 100px 60px;
        }
        &__button {
            padding: 20px 64px;
            svg {
                position: static;
                margin-left: 10px;
                opacity: 1;
            }
        }
    }
    .favorite {
        &-panel {
            button {
                
                &:hover {
                    background: transparent;
                    svg {
                        path {
                            stroke: #403F3D;
                        }
                    }
                }
            }
        }
    }
    .resource {
        &-list {
            display: flex;
            flex-direction: column;
        }
        &-item {
            height: 590px;
            &:nth-child(2), &:nth-child(3) {
                display: none;
            }
            img {
                transform: scale(1.05);
            }
            &:hover img {
                transform: scale(1.05);
            }
        }
    }
    .download {
        &-wrapper {
            flex-direction: column;
        }
        &-info {
            width: 100%;
        }
        &-image {
            margin-top: 100px;
        }
        &-button {
            &:hover {
                background: transparent;
                svg {
                    path {
                        fill: #403F3D;
                    }
                }
                .download-button-text {
                    &__over {
                        color: #403F3D;
                    }
                    &__main {
                        color: #403F3D;
                    }
                }
            }
        }
    }
    .cards {
        justify-content: space-between;
    }
    .card {
        width: 310px;
        &:not(:nth-child(4n + 4)) {
            margin-right: 0;
        }
        &:not(:nth-child(-n + 4)) {
            margin-top: 0;
            display: none;
        }
        &:not(:nth-child(-n + 2)) {
            margin-top: 40px;
        }
        &:nth-child(3),
        &:nth-child(4) {
            .card__descr {
                margin-bottom: 38px;
            }
        }
        &-more {
            margin: 40px auto 0 auto;
            display: block;
        }
        &:hover {
            .card-image img {
                transform: scale(1.1);
            }
        }
    }
    .menu {
        &__title {
            width: 688px;
        }
    }
    .tabs {
        &-inner {
            width: 660px;
            margin: 0 auto;
        }
  /*      &__button {
            &:hover {
                background: transparent;
                .tabs__button-icon {
                    background: #C1B6AD;
                }
                p {
                    color: #403F3D;
                }
            }
        }*/
    }
    .footer {
        &-social {
            &-item {
                &:hover {
                    background: transparent;
                    svg {
                        path {
                            stroke: #E1D4C9;
                        }
                    }
                }
            }
        }
        &-item {
            &:hover {
                &:not(:last-child) {
                    &::before {
                        opacity: 0;
                        bottom: -8px;
                    }
                }
            }
        }
    }
    
    .popup {
        &-wrapper {
            width: 688px;
        }
        &-coffee {
            &-info {
                width: 326px;
            }
            &-settings {
                &-item {
                    &:not(:nth-child(-n + 3)) {
                        margin-top: 0;
                    }
                    &:not(:nth-child(-n + 2)) {
                        margin-top: 8px;
                    }
                    &:hover {
                        .bg {
                            opacity: 0;
                        }
                        .icon {
                            background: #C1B6AD;
                        }
                        .name {
                            color: #403F3D;
                        }
                    }
                }
            }
            &__close {
                &:hover {
                    color: #665F55;
                    background: transparent;
                }
            }
        }
    }
}

@media screen and (max-width: 767px){
    .container {
        padding: 0 16px;
    }
    
    .header {
        &-block {
            display: none;
        }
        &__menu {
            display: none;
            &:hover {
                &::before {
                    bottom: -8px;
                    opacity: 0;
                }
            }
        }
        &-burger {
            display: block;
            span {
                transition: all .2s linear;
            }
            &.open {
                span {
                    &:nth-child(1) {
                        transform: rotate(45deg);
                        top: 50%;
                        left: 13px;
                    }
                    &:nth-child(2) {
                        transform: rotate(-45deg);
                        top: 50%;
                        bottom: unset;
                        left: 13px;
                    }
                }
            }
        }
        &-item:not(:last-child) {
            margin-right: 30px;
        }
        &:hover {
            &::before {
                bottom: -8px;
                opacity: 0;
            }
        }
        &-mobile {
            overflow: auto;
            background: #E1D4C9;
            position: fixed;
            padding: 60px 0;
            z-index: 3;
            bottom: 0;
            align-items: center;
            width: 100%;
            height: calc(100% - 100px);
            display: flex;
            flex-direction: column;
            right: -100%;
            transition: all .3s linear;
            &.open {
                right: 0;
                display: flex;
            }
        }
    }
    .intro {
        &-wrapper {
            padding: 60px 16px;
        }
        &__title {
            line-height: 115%;
            font-size: 42px;
        }
        &-info {
            width: 100%;
        }
    }
    .favorite {
        &__title {
            font-size: 32px;
        }
        &-item {
            &__image {
                height: 348px;
            }
        }
        &-panel {
            display: none;
        }
    }
    .resource {
        &__title {
            font-size: 32px;
        }
        &-item {
            img {
                transform: scale(1.22);
            }
            
            &:hover {
                img {
                    transform: scale(1.22);
                }
            }
        }
    }
    .download {
        &__title {
            font-size: 32px;
        }
        &-btns {
            flex-direction: column;
            align-items: flex-start;
        }
        &-button {
            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: 14px;
            }
        }
        &-image {
            width: 100%;
            height: 348px;
            margin-top: 40px;
        }
    }
    .footer {
        &-wrapper {
            padding: 60px 16px;
        }
        &__title {
            font-size: 32px;
        }
        &-contact {
            width: 100%;
        }
        &-left {
            margin-bottom: 40px;
        }
    }
    .menu {
        &__title {
            width: 100%;
            font-size: 32px;
        }
    }
    .cards {
        flex-direction: column;
    }
    .card {
        width: 100%;
        &:not(:nth-child(-n + 2)) {
            margin-top: 0;
        }&:not(:first-child) {
            margin-top: 40px;
        }
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
            .card__descr {
                margin-bottom: 38px;
            }
        }
    }
    .tabs {
        &-inner {
            width: 100%;
            padding: 0 19px;
        }
        &__button {
            &:not(:last-child) {
                margin-right: 8px;
            }
        }
    }
    
    .popup {
        padding: 0;
        &-wrapper {
            border-radius: unset;
            width: 100%;
            height: 100%;
        }
        &-coffee {
            &-image {
                display: none;
            }
            &-info {
                width: 100%;
            }
            &-settings {
                &-item {
                    margin-bottom: 8px;
                    &:not(:nth-child(-n + 2)) {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 380px){
    .popup-coffee {
        &-settings-item {
            margin-bottom: 0;
            &:not(:nth-child(-n + 2)) {
                margin-top: 5px;
            }
        }
        &-block {
            margin-bottom: 14px;
        }
        &-total {
            padding-bottom: 14px;
        }
        &__button {
            padding: 8px;
            font-size: 16px;
        }
    }
}
